<footer>
	<div class="footer_content">
		<div class="footer_text">
			<code>return -EMAINLINE;</code>
		</div>
		<div class="contact_info">
			<a href='https://ko-fi.com/X8X4EKZJ1' target='_blank'>
				<div class="button">
					<img height='36' style='border:0px;height:36px;' src='https://cdn.ko-fi.com/cdn/kofi5.png?v=3' border='0' alt='Buy Me a Coffee at ko-fi.com' />
				</div>
			</a>
			<div class="contact_logo">
				<img src="{{ site.url }}/assets/images/logo/twitter.svg" width="20px">
			</div>
			<a href="https://twitter.com/y_oudjana">
				@y_oudjana
				<br>
			</a>
			<div class="contact_logo">
				<img src="{{ site.url }}/assets/images/logo/matrix.svg" width="20px">
			</div>
			@tooniis:matrix.org
			<br>
			<div class="contact_logo">
				<img src="{{ site.url }}/assets/images/logo/gitlab.svg" width="20px">
			</div>
			<a href="https://gitlab.com/Tooniis">
				Tooniis
			</a>
		</div>
	</div>
</footer>