<header>
	<div class="header_content">
		<div class="header_title"><a href="{{ site.url }}" id="title_link">-EMAINLINE</a></div>
		<div class="navigation_list">{% include navigation.html %}</div>
	</div>
</header>