<nav>
	{% for item in site.data.navigation %}
		<a href="{{ item.link }}" id="nav_element">
			<span
			{% if page.url == item.link %}
				class="page_current"
			{% else %}
				class="page"
			{% endif %}>
				{% if item.icon %}
				<img class="nav_icon" src="{{ site.url }}{{ item.icon }}">
				{% else %}
				{{ item.name }}
				{% endif %}
			</span>
		</a>
	{% endfor %}
</nav>