<div class="post_list">
	<h1 class="post_list_title">Latest posts</h1>
	{% for post in site.posts %}
	<div class="post_entry">
		<div class="post_cover">
			<img src="{{ site.url }}/assets/images/cover/{{ post.cover }}" width="100%">
		</div>
		<div class="post_info">
			<div class="post_title_link">
				<a href="{{ post.url }}">
					<div class="post_title">
						{{ post.title }}
						<br>
						<div class="post_subtitle">
							{{ post.subtitle }}
						</div>
					</div>
				</a>
			</div>
			<div class="post_desc">
				{{ post.description }}
			</div>
			<div class="post_info">
				{{ post.date | date_to_string }}
			</div>
		</div>
	</div>
	{% endfor %}
</div>