nav {
	//position: absolute;
	bottom: 0;
	right: 0;
}

#nav_element {
	padding: 10px;
	text-decoration: none;
	font-weight: bold;
}

.nav_icon {
	width: 16px;
	color: #6bff83;
	vertical-align: middle;
	padding-bottom: 2px;
}

.page {
	color: #74daff;
}

.page_current {
	color: #6bff83;
}
