.post {
	margin-top: 40px;
	margin-left: 5%;
	margin-right: 5%;
}

@media screen and (min-width: 1100px) {
	.post {
		margin-left: 20%;
		margin-right: 20%;
	}
}

.post_header {
	margin-left: 0%;
}

.title {
	margin-bottom: 5px;
}

.subtitle {
	//line-height: 0.5;
	font-weight: normal;
	margin: 0px;
}

.info {
	font-size: 14pt;
	margin: 20px;
	display: flex;
}

.avatar {
	display: inline-block;
	margin: 10px;
	width: 50px;
	height: 50px;
	border-radius: 50%;
	overflow: hidden;
}

.info_text {
	margin: 10px;
}

.author {
	display: inline-block;
	font-size: 16pt;
}

.date {
	display: inline-block;
	font-size: 10pt;
}

.post_body {
	font-size: 16pt;
	line-height: 1.6;
	font-family: source-serif-regular, serif;
}

.post_image {
	border-radius: 5px;
	overflow: hidden;
	max-width: 100%;
	margin: 10px;
	margin-left: auto;
	margin-right: auto;
}

@media screen and (max-width: 900px) {
	.post_image {
		width: 100%;
	}
}

@media screen and (min-width: 900px) {
	.post_image {
		display: block;
	}
}

.highlight {
	margin-right: 20px;
}

.twitter-tweet {
	display: block;
	margin-left: auto;
	margin-right: auto;
}

p {
	margin-top: 0px;
}

pre.highlight {
	background-color: #000000;
	border-radius: 10px;
	margin: 0;
	margin-bottom: 10px;
	padding: 10px;
	line-height: 1;
	overflow-x: scroll;
	overflow-y: scroll;
	width: 100%;
	max-height: 50vh;
	size: inherit;
}
